.header__lang-link {
    list-style: none;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117%  добавь семейство шрифтов интер*/
    text-align: right;
    color: #FFFFFF;
}

@media screen and (max-width:320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}