.place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    margin: 0;
    color: #FFFFFF;
}

@media screen and (max-width:1009px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width:740px) {
    .place__title {
        text-align: center;
    }
}

@media screen and (max-width:320px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        text-align: left;
        padding-left: 16px;
    }
}