.photo-grid {
    width: calc(100vw - 96px);
    margin: 92px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(70px, 1fr));
    gap: 16px;
    padding: 0;
    max-width: 1184px;
    box-sizing: border-box;
}

@media screen and (max-width:1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
}

@media screen and (max-width:768px) {
    .photo-grid {
        width: calc(100vw - 48px);
        max-width: 720px;
        margin-top: 88px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:320px) {
    .photo-grid {
        width: calc(100vw - 32px);
        max-width: 288px;
        margin: 64px auto;
        grid-template-columns: 1fr;
        row-gap: 12px;
    }
}