.places {
    width: calc(100vw - 296px);
    max-width: 984px;
    margin: 0;
    margin: 92px auto 92px;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width:1024px) {
    .places {
        width: calc(100vw - 96px);
    }
}

@media screen and (max-width:768px) {
    .places {
        width: calc(100vw - 48px);
        margin-top: 88px;
        margin-bottom: 90px;
    }
}

@media screen and (max-width:740px) {
    .places {
        width: 400px;
        margin: 80px auto;
    }
}


@media screen and (max-width:400px) {
    .places {
        max-width: 320px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
}

@media screen and (max-width:320px) {
    .places {
        width: 100vw;
        margin: 0;
    }
}