.header {
    width: calc(100vw - 96px);
    max-width: 1184px;
    margin: 0 auto 56px;
    padding-top: 28px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: end;
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width:768px) {
    .header {
        width: calc(100vw - 48px);
    }
}

@media screen and (max-width:320px) {
    .header {
        width: calc(100vw - 32px);
        margin-bottom: 48px;
        padding-top: 16px;
        height: 42px;
    }
}