.lead__titile {
    margin: 0;
    max-width: 720px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* or 104% */
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width:701px) {
    .lead__titile {
        font-size: 76px;
        line-height: 100%;
    }
}

@media screen and (max-width:570px) {
    .lead__titile {
        font-size: 45px;
    }
}

@media screen and (max-width:430px) {
    .lead__titile {
        font-size: 40px;
        line-height: 44px;
    }
}


 



