.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@media screen and (max-width:700px) {
    .footer__links {
        justify-content: center;
        border: 1px solid blue;
    }
}

@media screen and (max-width:320px) {
    .footer__links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid blue;
    }
}