.footer__two-columns {
    width: calc(100vw - 96px);
    max-width: 1184px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    .footer__two-columns {
        width: calc(100vw - 48px);
    }
}

@media screen and (max-width:700px) {
    .footer__two-columns {
        grid-template-columns: 1fr;
        grid-template-rows: 20px 20px;
        row-gap: 20px;
    }
}

@media screen and (max-width:500px) {
    .footer__two-columns {
        width: calc(100vw - 140px);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 270px 14px;
        row-gap: 48px;
        justify-content: space-between;
    }
}

@media screen and (max-width:320px) {
    .footer__two-columns {
        width: calc(100vw - 134px);
        grid-template-rows: 260px 14px;
        margin-bottom: 24px;
    }
}