.cover__background {
    background-image: url(../../../images/cover-trains.jpg);
    width: calc(100vw - 96px);
    max-width: 1184px;
    margin: 92px auto 64px;
    min-height: 740px;
    background-size: cover;
    background-position: center;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

@media screen and (max-width:1184px) {
    .cover__background {
        width: 100%;
        min-height: 62.5vw;
    }
}

@media screen and (max-width:768px) {
    .cover__background {
        margin-top: 90px;
        margin-right: 0;
    }
}

@media screen and (max-width:555px) {
    .cover__background {
        margin-top: 70px;
    }
}

@media screen and (max-width:320px) {
    .cover__background {
        margin-top: 0px;
    }
}