.cover__background {
    background-image: url(../../../images/cover-trains.jpg);
    width: calc(100vw - 96px);
    max-width: 1184px;
    margin: 92px auto;
    height: 740px;
    background-size: cover;
    background-position: center;
    position: relative;
    box-sizing: border-box;
    padding-top: 245px;
    padding-bottom: 343px;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
}

.cover__background::before {
    background-color: #2A2C2F;
    opacity: 0.3;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cover__background:hover::before {
    opacity: 0.8;
}

@media screen and (max-width:1024px) {
    .cover__background {
        width: 100vw;
        height: 640px;
        padding-top: 195px;
        padding-bottom: 293px;
    }
}

@media screen and (max-width:768px) {
    .cover__background {
        height: 480px;
        max-width: 768px;
        margin-top: 90px;
        padding-top: 115px;
        padding-bottom: 213px;
    }
}

@media screen and (max-width:555px) {
    .cover__background {
        height: 346px;
        max-width: 555px;
        margin-top: 70px;
        padding-top: 60px;
        padding-bottom: 150px;
    }
}

@media screen and (max-width:320px) {
    .cover__background {
        width: 320px;
        height: 200px;
        max-width: 320px;
        margin-right: 0;
        margin-top: 0px;
        padding-top: 33px;
        padding-bottom: 97px;
        margin-bottom: 64px;
    }
}