.lead__caption {
    font-family: 'Inter', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 140% */
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: flex-start;
    margin: 0;
    margin-top: 8px;
}