.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: auto;
    row-gap: 48px;
    column-gap: 40px;
    margin-bottom: 80px;
    max-width: 1280px;
    box-sizing: border-box;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width:1080px) {
    .place {
        grid-template-columns: 442px 1fr;
        column-gap: 32px;
    }
}

@media screen and (max-width:1024px) {
    .place {
        grid-template-columns: 440px 1fr;
        column-gap: 32px;
    }
}

@media screen and (max-width:894px) {
    .place {
        grid-template-columns: 360px 1fr;
        column-gap: 32px;
    }
}

@media screen and (max-width:808px) {
    .place {
        grid-template-columns: 350px 1fr;
        column-gap: 32px;
    }
}


@media screen and (max-width:768px) {
    .place {
        grid-template-columns: 340px 1fr;
        grid-template-rows: auto;
        column-gap: 28px;
        margin-bottom: 73px;
    }
}

@media screen and (max-width:650px) {
    .place {
        grid-template-columns: 400px;
        row-gap: 32px;
        margin-bottom: 50px;
        max-width: 100%;
    }
}

@media screen and (max-width:400px) {
    .place {
        grid-template-columns: 320px;
        row-gap: 32px;
        margin-bottom: 50px;
        max-width: 320px;
    }
}

@media screen and (max-width:320px) {
    .place {
        grid-template-columns: 320px;
        row-gap: 32px;
        margin-bottom: 50px;
        max-width: 320px;
    }
}