.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: auto;
    row-gap: 48px;
    column-gap: 40px;
    margin-bottom: 80px;
    max-width: 1280px;
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width:1204px) {
    .place {
        grid-template-columns: 442px 434px;
        column-gap: 32px;
    }
}

@media screen and (max-width:1108px) {
    .place {
        grid-template-columns: 442px 380px;
        column-gap: 32px;
    }
}

@media screen and (max-width:1024px) {
    .place {
        grid-template-columns: 440px 1fr;
    }
}

@media screen and (max-width:968px) {
    .place {
        grid-template-columns: 360px 350px;
    }
}

@media screen and (max-width:808px) {
    .place {
        grid-template-columns: 340px 1fr;
    }
}

@media screen and (max-width:768px) {
    .place {
        grid-template-rows: auto;
        column-gap: 28px;
        margin-bottom: 73px;
    }
}

@media screen and (max-width:767px) {
    .place {
        grid-template-columns: 1fr;
        margin-bottom: 50px;
    }
}